@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Colors */
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

    /* Fonts */
    --font: 'Outfit';
}

body {
    background-color: var(--Light-gray);
    font-family: 'Outfit';
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card, .card_qr {
    border-radius: 1rem;
    width: 12rem;
}

.card {
    background-color: white;
    padding: 1rem;
    text-align: center;
}

.card_title {
    color: var(--Dark-blue);
    font-weight: 600;
}

.card_description {
    font-size: 15px;
    font-weight: 400;
    color: var(--Grayish-blue);
}